{% extends "article.twig" %}

{# Main #}
{% block articleAside %}
	{# Aside contenant tous les articles avec une ancre pour scroll #}
	<ul>
		{% for article in articles %}
			<li>
				<a href="#{{ article.titre|replace({' ': ''}) }}">{{ article.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block articleSection %}

	<h1>Artistes étant reconnus pour faire de la Color Bass</h1>

	{# Une boucle pour afficher chaque article #}
	{% for article in articles %}
		<article id="{{ article.titre|replace({' ': ''}) }}">
			<h2>{{ article.titre }}</h2>

			<figure class="artisteImage">
				<img src="./img/artistes/{{ article.img }}.jpg" alt="Visage de {{ article.titre }}">
				<figcaption>{{ article.titre }} ({{ article.informations["Prénom / Nom"] }})</figcaption>
			</figure>

			<table>
				<thead>
					<tr>
						<th colspan="2">Informations</th>
					</tr>
				</thead>

				<tbody>
					{% for titreInfo, valeurInfo in article.informations %}
						<tr>
							<td>{{ titreInfo }}</td>
							<td>{{ valeurInfo }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<details>
                <summary>Liens</summary>
                <ul>
					{% for plateforme, lien in article.liens %}
						<li><a href="{{ lien }}" target="_blank">Son {{ plateforme }}</a></li>
					{% endfor %}
                </ul>
            </details>
		</article>
	{% endfor %}
{% endblock %}
