{% extends "article.twig" %}

{# Main #}
{% block articleAside %}
	{# Boucle for pour ajouter chaque article en forme de lien avec une ancre pour scroll #}
	<ul>
		{% for article in articles %}
			<li>
				{# L'ancre sera juste le nom de l'article sans espace #}
				<a href="#{{ article.titre|replace({' ': ''}) }}">{{ article.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block articleSection %}

	<h1>{{ traduction.h1 }}</h1>

	{# Une boucle pour afficher chaque article #}
	{% for article in articles %}
		<article id="{{ article.titre|replace({' ': ''}) }}">
			<h2>{{ article.titre }}</h2>

			<figure class="artisteImage">
				<img src="../img/artistes/{{ article.img }}.jpg" alt="Visage de {{ article.titre }}">
				<figcaption>{{ article.titre }}</figcaption>
			</figure>

			<table>
				<thead>
					<tr>
						<th colspan="2">{{ traduction.th }}</th>
					</tr>
				</thead>

				<tbody>
					{# Ajoute les td de manière automatique avec une boucle for sous forme clé, valeur pour ne pas a avoir à créer les tr/td à la main #}
					{% for titreInfo, valeurInfo in article.informations %}
						<tr>
							<td>{{ titreInfo }}</td>
							<td>{{ valeurInfo }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<details>
                <summary>{{ traduction.liens }}</summary>
                <ul>
					{# Ajoute les liens de manière automatique avec une boucle for sous forme clé, valeur pour ne pas a avoir à créer les li à la main #}
					{% for plateforme, lien in article.liens %}
						<li><a href="{{ lien }}" target="_blank">{{ traduction.pronom }} {{ plateforme }}</a></li>
					{% endfor %}
                </ul>
            </details>
		</article>
	{% endfor %}
{% endblock %}
