<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} | Color bass</title>
        <link rel="stylesheet" href="./css/index.css">

        {# Custom CSS et JS qui dépendent en fonction des pages #}
        {% block cssEtJs %}
        {% endblock %}

        <!-- Favicon & Manifest -->
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicons/favicon.png">
        <link rel="shortcut icon" href="./img/favicons/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="./img/favicons/site.webmanifest">
    </head>
    <body>
        <div class="wrapper">
            <header role="banner" class="parallax column centreVertical centreHorizontal">
                <img src="./img/logo.png" alt="logo-color-bass">
                <h1>{{ titreHeader }}</h1>
            </header>

            <!-- Navbar (Avec la classe mainNavbar pour la différencier des nav présentes dans les aside) -->
            <nav class="mainNavbar" role="navigation" aria-label="Menu principal">
            
                <ul>
                    <!-- Utilisation de chemins relatifs pour le moment (Si le site ne se trouve par à la racine du serveur local, ça risque de rediriger sur un 404) -->
                    {% for page in pages %}
                        <li>
                            <a href="./{{ page }}">{{ page|replace({"_": " "})|capitalize }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            
            {# Main qui contiendra le contenu qui sera différent en fonction des pages #}
            <main role="main" class="{{ classeMain }}">
                {% block main %}
                {% endblock %}
            </main>
            <!-- Footer -->
            <footer role="contentinfo" class="parallax column">
                <p>Sité réalisé par Martin Brönnimann</p>
                <p>Dans le cadre de la SAE 105</p>
                <nav aria-label="Footer contenant liens pour les catégories ainsi que de leurs articles">
                    <ul class="row gap centreHorizontal">
                        <li><a href="./a_propos">CGU</a></li>
                        <li>
                            <a href="./ressources">Ressources</a>
                            <!-- Contient les liens des articles de ressources -->
                            <ul class="lowOpacity column">
                                <li><a href="./ressources#tutoFlStudio">Tutoriels Fl Studio</a></li>
                                <li><a href="./ressources#tutosAbleton">Tutoriels Ableton</a></li>
                                <li><a href="./ressources#musicTheory">Théorie Musicale</a></li>
                                <li><a href="./ressources#ressourcesUtiles">Ressources Utiles</a></li>
                                <li><a href="./ressources#amazonKeyboard">Synthés Amazon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./logiciels">Logiciels</a>
                            <!-- Contient les liens des articles de logiciels -->
                            <ul class="lowOpacity column">
                                <li><a href="./logiciels#FLStudio">Fl Studio</a></li>
                                <li><a href="./logiciels#AbletonLive">Ableton Live</a></li>
                                <li><a href="./logiciels#BitWig">Bitwig Studio</a></li>
                                <li><a href="./logiciels#LogicPro">Logic Pro</a></li>
                                <li><a href="./logiciels#ProTools">Pro Tools</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="./artistes">Artistes</a>
                            <!-- Contient les liens des articles de artistes -->
                            <ul class="lowOpacity column">
                                <li><a href="./artistes#chime">Chime</a></li>
                                <li><a href="./artistes#sharks">Sharks</a></li>
                                <li><a href="./artistes#aceAura">Ace Aura</a></li>
                                <li><a href="./artistes#skybreak">Skybreak</a></li>
                                <li><a href="./artistes#similarOutskirts">Similar Outskirts</a></li>
                            </ul>
                        </li>
                        <li><a href="./contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="row langues centreHorizontal">
                    <a href="#FR"><img src="./img/flags/france.png" alt="Icône Drapeau FR pour contenu du site"></a>
                    <a href="#DK"><img src="./img/flags/danmark.png" alt="Icône Drapeau DK pour contenu du site"></a>
                </div>
            </footer>
        </div>
    </body>
</html>