<!DOCTYPE html>
<html lang="fr">
    <head>
        {# Info, les chemins relatifs doivent avoir deux points devant "../" car le serveur considère la langue comme un dossier #}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titre }} | Color bass</title>
        <link rel="stylesheet" href="../css/index.css">

        {# Custom CSS et JS qui dépendent en fonction des pages #}
        {% block cssEtJs %}
        {% endblock %}

        <!-- Favicon & Manifest -->
        <link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon.png">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="manifest" href="../img/favicons/site.webmanifest">
    </head>
    <body>
        <div class="wrapper">
            <header role="banner" class="parallax column centreVertical centreHorizontal">
                <img src="../img/logo.png" alt="logo-color-bass">
                <h1>{{ titreHeader }}</h1>
            </header>

            <!-- Navbar (Avec la classe mainNavbar pour la différencier des nav présentes dans les aside) -->
            <nav class="mainNavbar" role="navigation" aria-label="Menu principal">     
                <ul>
                    <!-- Utilisation de chemins relatifs pour le moment (Si le site ne se trouve par à la racine du serveur local, ça risque de rediriger sur un 404) -->
                    {% for page in pages %}
                        {# Ajoute la classe "active" si la page de l'itération est la page active ou si la page est "Accueil" si pas d'endpoints #}
                        <li class="{{ (active == page or (active == "" and page == "accueil")) ? 'active' : '' }}" >
                            {# Remplace les _ en espaces et ajoute une majuscule #}
                            <a href="./{{ page }}">{{ traductionsNomPages[loop.index - 1] }}</a> 
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            
            {# Main qui contiendra le contenu qui sera différent en fonction des pages #}
            <main role="main" class="{{ classeMain }}">
                {% block main %}
                {% endblock %}
            </main>

            <!-- Footer -->
            <footer role="contentinfo" class="parallax column">
                <p>{{ __trad.footer.creator }}</p>
                <p>{{ __trad.footer.context }}</p>
                <nav aria-label="{{ __trad.footer["label-nav"] }}">
                    <ul class="row gap centreHorizontal">
                        {# Affiche les liens dans le footer SEULEMENT si ils possèdent des articles #}
                        {% for page in pages %}
                            {% if footerArticles[page] is not empty %}
                                <li>
                                    {# Remplace les _ en espaces et ajoute une majuscule #}
                                    <a href="./{{ page }}">{{ traductionsNomPages[loop.index - 1] }}</a> 

                                    <ul class="lowOpacity column">
                                        {# Pour chaque article de la page, on ajoute un lien vers l'article #}
                                        {% for article in footerArticles[page] %}
                                            <li><a href="./{{ page }}#{{ article.titre|replace({' ': ''}) }}">{{ article.titre|replace({"_": " "})|capitalize }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
                <div class="row langues centreHorizontal">
                    <a href="../fr/{{ active }}"><img src="../img/flags/france.png" alt="{{ __trad.footer["drapeau-fr"] }}"></a>
                    <a href="../dk/{{ active }}"><img src="../img/flags/danmark.png" alt="{{ __trad.footer["drapeau-dk"] }}"></a>
                </div>
            </footer>
        </div>
    </body>
</html>