{% extends "base.twig" %}

{# CSS custom de l'accueil #}
{% block cssEtJs %}
	<link rel="stylesheet" href="../css/pages/contact.css">
{% endblock %}

{# Main #}
{% block main %}
	<!-- Formulaire de contact contenu dans cette section -->
	<section>
		<h1>{{ traduction.h1 }}</h1>
		<form method="post" action="../reception.php">
			<!-- Fieldset pour le sexe de l'user -->
			<fieldset>
				<legend>{{ traduction.legends.sexe }}:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				<div>
					<input type="radio" name="sexe" id="female">
					<label for="female">{{ traduction.labels.woman }}</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="male">
					<label for="male">{{ traduction.labels.man }}</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="other">
					<label for="other">{{ traduction.labels.other }}</label>
				</div>
				<div>
					<input type="radio" name="sexe" id="none">
					<label for="none">{{ traduction.labels.none }}</label>
				</div>
			</fieldset>
			<!-- Informations sur la raison du contact & autres -->
			<fieldset>
				<legend>{{ traduction.legends.info }}:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				<div class="row">
					<label>{{ traduction.labels.reason }}:</label>
					<select name="raison">
						<option value="pb" selected>{{ traduction.select.problem }}</option>
						<option value="qt">{{ traduction.select.question }}</option>
						<option value="rp">{{ traduction.select.report }}</option>
					</select>
				</div>
				<div class="row">
					<label>{{ traduction.labels.name }}:</label>
					<input type="text" name="nom" placeholder="Jean Dupont" required>
				</div>
				<div class="row">
					<label>{{ traduction.labels.mail }}:</label>
					<input type="email" name="mail" placeholder="jdupont67@gmail.com" required>
				</div>
			</fieldset>
			<!-- Textarea pour reccueillir les commentaires des users -->
			<fieldset>
				<legend>{{ traduction.legends.comment }}:</legend>
				<textarea name="comment" placeholder="{{ traduction.labels.commentPlaceholder }}"></textarea>
			</fieldset>
			<!-- Checkbox pour laisser l'utilisateur le choix d'être anonyme ou non -->
			<fieldset>
				<legend>{{ traduction.legends.infoPlus }}:</legend>
				<input type="checkbox" name="anonymous" checked>
				<label>{{ traduction.labels.anonymous }} (<strong>{{ traduction.labels.anonymousDetail }}</strong>)</label>
			</fieldset>
			<!-- Juste un bouton submit -->
			<fieldset>
				<legend>{{ traduction.legends.submitMsg }}:</legend>
				<input type="submit" value="{{ traduction.legends.submit }}">
			</fieldset>
		</form>
	</section>
{% endblock %}
