{% extends "article.twig" %}

{# Main #}
{% block articleAside %}
	{# Boucle for pour ajouter chaque article en forme de lien avec une ancre pour scroll #}
	<ul>
		{% for article in articles %}
			<li>
				{# L'ancre sera juste le nom de l'article sans espace #}
				<a href="#{{ article.titre|replace({' ': ''}) }}">{{ article.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block articleSection %}

    <h1>{{ traduction.h1 }}</h1>

    {# Une boucle pour afficher chaque article #}
	{% for article in articles %}
	<article id="{{ article.titre|replace({' ': ''}) }}">
		<h2>{{ article.titre }}</h2>
		<q cite="{{ article.lien }}">{{ article.q }}</q>
		<p>{{ article.presentation }}</p>
		<figure>
			<img src="../img/logiciels/{{ article.img }}.jpg" alt="{{ article.titre }}">
			<figcaption>{{ article.titre }}</figcaption>
		</figure>
		<p>{{ article.titre }} {{ traduction.fonctionnalites }}</p>
		<dl>
			{# Affiche les fonctionnalités du logiciel automatiquement #}
            {% for feature in article.features %}
                <dt>{{ feature[0] }}:</dt>
                <dd>{{ feature[1] }}</dd>
            {% endfor %}
		</dl>
		<a class="button-a" target="_blank" href="{{ article.lien }}">{{ traduction.button }}</a>
	</article>
	{% endfor %}

{% endblock %}
