{% extends "article.twig" %}

{# Main #}
{% block articleAside %}
	{# Boucle for pour ajouter chaque article en forme de lien avec une ancre pour scroll #}
	<ul>
		{% for article in articles %}
			<li>
				{# L'ancre sera juste la lettre de l'alphabet correspondant à l'index de la boucle afin de ne pas avoir de soucis sur les noms d'articles traduits (Si plus de 26 articles, la solution ne marchera plus) #}
				{% set articleID = range('A','Z')[loop.index0] %}
				<a href="#{{ articleID }}">{{ article.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block articleSection %}
    <h1>{{ traduction.h1 }}</h1>

    {# Une boucle pour afficher chaque article #}
	{% for article in articles %}
	{% set articleID = range('A','Z')[loop.index0] %}
	<article id="{{ articleID }}">

		<div class="row centreVertical spaceBetween">
			<h2>{{ article.titre }}</h2>

			{# Pouvoir changer de langue rapidement en arrivant directement sur l'article (En affichant le dreapeau de l'autre langue) #}
			<ul class="row translations">
				{% for langue in langues %}
					{% if langCode != langue %}
						<a href="../{{ langue }}/{{ active }}#{{ articleID }}"><img src="../img/flags/{{ langue }}.png" alt="{{ __trad.footer["drapeau"]|replace({'{{ langue }}': langue|upper }) }}"></a>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<ul>
			{# Créer la liste a puce automatiquement #}
            {% for li in article.listePuce %}
                <li><a target="_blank" href="{{ li[1] }}">{{ li[0] }}</a></li>
            {% endfor %}
		</ul>
	</article>
	{% endfor %}

{% endblock %}
