{% extends "base.twig" %}

{# CSS custom de l'accueil #}
{% block cssEtJs %}
    <link rel="stylesheet" href="../css/pages/accueil.css">
{% endblock %}

{# Main #}
{% block main %}
    <!-- Informations sur la Color Bass -->
    <section class="infosColorBass">
        <h1>{{ traduction.h1.infosColorBass }}</h1>
        <p>{{ traduction.p.definition|raw }}</p>
        <p>{{ traduction.p.terme|raw }}</p>
        <p>{{ traduction.p.disclaimer|raw }}</p>
    </section>

    <!-- Vidéo clips de musiques -->
    <section class="videosClips">
        <h1>{{ traduction.h1.music }}</h1>
        <div class="row gap centreHorizontal">
            {% for videoYoutube in videos %}
                <iframe src="https://www.youtube-nocookie.com/embed/{{ videoYoutube.id }}" title="{{ videoYoutube.titre }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </section>
{% endblock %}