{% extends "article.twig" %}

{# Main #}
{% block articleAside %}
	{# Boucle for pour ajouter chaque article en forme de lien avec une ancre pour scroll #}
	<ul>
		{% for article in articles %}
			<li>
				{# L'ancre sera juste la lettre de l'alphabet correspondant à l'index de la boucle afin de ne pas avoir de soucis sur les noms d'articles traduits (Si plus de 26 articles, la solution ne marchera plus) #}
				{% set articleID = range('A','Z')[loop.index0] %}
				<a href="#{{ articleID }}">{{ article.titre }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block articleSection %}
    <h1>{{ traduction.h1 }}</h1>

    {# Une boucle pour afficher chaque article #}
	{% for article in articles %}
	{% set articleID = range('A','Z')[loop.index0] %}
	<article id="{{ articleID }}">

		<div class="row centreVertical spaceBetween">
			<h2>{{ article.titre }}</h2>

			{# Pouvoir changer de langue rapidement en arrivant directement sur l'article (En affichant le dreapeau de l'autre langue) #}
			<ul class="row translations">
				{% for langue in langues %}
					{% if langCode != langue %}
						<a href="../{{ langue }}/{{ active }}#{{ articleID }}"><img src="../img/flags/{{ langue }}.png" alt="{{ __trad.footer["drapeau"]|replace({'{{ langue }}': langue|upper }) }}"></a>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<figure class="artisteImage">
			<img src="../img/artistes/{{ article.img }}.jpg" alt="Visage de {{ article.titre }}">
			<figcaption>{{ article.titre }}</figcaption>
		</figure>

		<table>
			<thead>
				<tr>
					<th colspan="2">{{ traduction.th }}</th>
				</tr>
			</thead>

			<tbody>
				{# Ajoute les td de manière automatique avec une boucle for sous forme clé, valeur pour ne pas a avoir à créer les tr/td à la main #}
				{% for titreInfo, valeurInfo in article.informations %}
					<tr>
						<td>{{ titreInfo }}</td>
						<td>{{ valeurInfo }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<details>
            <summary>{{ traduction.liens }}</summary>
            <ul>
				{# Ajoute les liens de manière automatique avec une boucle for sous forme clé, valeur pour ne pas a avoir à créer les li à la main #}
				{% for plateforme, lien in article.liens %}
					<li><a href="{{ lien }}" target="_blank">{{ traduction.pronom }} {{ plateforme }}</a></li>
				{% endfor %}
            </ul>
        </details>
	</article>
	{% endfor %}
{% endblock %}
