{% extends "base.twig" %}

{# CSS custom de l'accueil #}
{% block cssEtJs %}
	<link rel="stylesheet" href="../css/pages/contact.css">
{% endblock %}

{# Main #}
{% block main %}
	<!-- Formulaire de contact contenu dans cette section -->
	<section>
		<h1>{{ traduction.h1 }}</h1>
		<form method="post" action="../reception.php">
			<!-- Fieldset pour le genre de l'user -->
			<fieldset>
				<legend>{{ traduction.legends.gender }}:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				{% for input in form.gender %}
				<div>
					<input type="radio" name="gender" id="{{ input.id }}">
					<label for="{{ input.id }}">{{ traduction.labels[input.id] }}</label>
				</div>
				{% endfor %}
			</fieldset>

			<!-- Informations sur la raison du contact & autres -->
			<fieldset>
				<legend>{{ traduction.legends.info }}:</legend>
				<!-- Mit dans des divs pour juste mettre en row -->
				<div class="row">
					<label>{{ traduction.labels.reason }}:</label>
					<select name="raison">
						{% for nom, option in traduction.select %}
							<option value="{{ nom }}">{{ option }}</option>
						{% endfor %}
					</select>
				</div>

				{# Affiche les inputs ensuite de manière auto #}
				{% for div in form.raison %}
				<div class="row">
					<label for="{{ div.id }}">{{ traduction.labels[div.id] }}:</label>
					<input type="{{ div.type }}" name="{{ div.id }}" id="{{ div.id }}" placeholder="{{ div.placeholder }}" required>
				</div>
				{% endfor %}
			</fieldset>

			<!-- Textarea pour reccueillir les commentaires des users -->
			<fieldset>
				<legend>{{ traduction.legends.comment }}:</legend>
				<textarea name="comment" placeholder="{{ traduction.labels.commentPlaceholder }}"></textarea>
			</fieldset>

			<!-- Checkbox pour laisser l'utilisateur le choix d'être anonyme ou non -->
			<fieldset>
				<legend>{{ traduction.legends.infoPlus }}:</legend>
				<input type="checkbox" name="anonymous" checked>
				<label>{{ traduction.labels.anonymous }} (<strong>{{ traduction.labels.anonymousDetail }}</strong>)</label>
			</fieldset>

			<!-- Juste un bouton submit -->
			<fieldset>
				<legend>{{ traduction.legends.submitMsg }}:</legend>
				<input type="submit" value="{{ traduction.legends.submit }}">
			</fieldset>
		</form>
	</section>
{% endblock %}
